
.userCard {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
    height: 60px;
    background: aliceblue;

    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;

}

p, h3{
    width: 230px;
}